@import "reset";
/* ----- Overall settings ----- */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800;900&display=swap");

/* ------ scss setting ----- */
@mixin getStepNums($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .circle-container::after {
      content: "#{$i}";
    }
  }
}

/* ------ header setting ----- */
@media screen and (min-width: 375px) {
  header {
    position: sticky;
    z-index: 1;
    width: 100%;
    height: 60px;
    box-shadow: 0px 2px 10px 0px rgba(40, 40, 40, 0.1);
  }

  .brand {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 16px;
    width: 136px;
    height: 48px;
  }
}

/* ------ nav-toggle setting ----- */
nav {
  position: absolute;
  top: 100%; /*置於父元素下方*/
  width: 100%;
  background-color: white;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.3s ease-out;
}

.navbar-toggle {
  position: absolute;
  visibility: hidden;
}

.navbar-toggle:checked ~ .nav {
  transform: scale(1, 1);
}

.navbar-toggle-label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 7.5%;
  display: flex;
  align-items: center;
}

.navbar-toggle:checked ~ .nav .nav-item {
  /*只有開啟時 delay .15s */
  transition: opacity 0.2s ease-out 0.15s;
  /*開啟時透明度為1*/
  opacity: 1;
}

.nav-item {
  margin: 1.4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* ------ stepper setting ----- */
.stepper-panel {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(26, 156, 196); /*暫時加上邊框，以利於辨識位置*/
}

.title {
  width: 100%;
  align-items: center;
  padding-left: 7.5%;
}

.stepper-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

.step {
  position: relative;
  flex: 1;
  text-align: center;
  @include getStepNums(3);
}

.active .circle-container {
  background-color: pink;
  color: white;
}

.step .circle-container {
  background-color: pink;
  color: white;
}

/*偽類切換打勾元素*/
.checked .circle-container::after {
  content: "\2714";
}

.circle-container {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin: 0 auto;
}

.label-container {
  margin-top: 10px;
  color: gray;
}

.connect-line {
  position: absolute;
  top: 12px;
  left: calc(-50% + 20px);
  right: calc(50% + 20px);
  width: 70%;
  display: block;
  height: 1px;
  background-color: lightgray;
}

/* ------ form setting ----- */
.form-panel {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(196, 26, 188); /*暫時加上邊框，以利於辨識位置*/
  margin-top: 24px;
  margin-bottom: 24px;
}

.form-container {
  height: 100%;
  margin: 0 auto;
  padding: 0 7.5%;
  align-items: center;
  border: 1px solid grey; /*暫時加上邊框，以利於辨識位置*/
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  color: gray;
  border: 1px solid rgb(253, 0, 0); /*暫時加上邊框，以利於辨識位置*/
  /*轉換label inline元素*/
  > label {
    display: block;
  }
}

.form-row-item {
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
}

/* ------ chart setting ----- */
.container {
  width: 100%;
  display: grid;
  /*form container水平置中效果*/
  margin: 0 auto;
  padding: 2.4rem 0.2rem;
  border: 1px solid rgb(128, 128, 128); /*暫時加上邊框，以利於辨識位置*/
  border-radius: 5px;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.product-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.delivery-wrapper,
.total-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 5px;
}

.control-panel {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.btn {
  font-size: 16px;
  background-color: transparent;
  height: 32px;
  padding: 0 16px;
  border-radius: 5px;
}

.btn-previous {
  opacity: 0.5;
}

.btn-next {
  color: white;
  background-color: pink;
}

/* ------ footer setting ----- */
.footer-container {
  display: none;
}
