/* ------- reset CSS ------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

ul,
ol,
li {
  list-style: none;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
  outline: none;
  cursor: pointer;
}

button,
button:hover,
button:active,
button:focus {
  border: 0;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input:required,
input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: none;
}

/* ------- basic setting ------- */
:root {
  --bg-color: #ffffff;
  --body-color: #2a2a2a;
  --form-description-color: #808080;
  --placeholder-color: #999999;
  --shopping-cart-bg: #ffffff;
  --border-light-color: #f0f0f5;
  --footer-bg: #f6f7f8;
  --footer-color: #808080;
  --footer-color-title: #2a2a2a;
}

[dark-theme="dark"] {
  --bg-color: #121212;
  --body-color: #ffffff;
  --form-description-color: #f0f0f5;
  --placeholder-color: #afb1bd;
  --shopping-cart-bg: #333333;
  --border-light-color: #444444;
  --footer-bg: #333333;
  --footer-color: #f0f0f5;
  --footer-color-title: #ffffff;
}

header, .btn-groups .btn:hover {
  -webkit-box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
          box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
}

/* shorthand sizing classes */
.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

/* shorthand spacing classes */
.m-1 {
  margin: 0.5rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.ml-2 {
  margin-left: 1rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-3 {
  margin: 1.5rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-4 {
  margin: 2rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.ml-4 {
  margin-left: 2rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-5 {
  margin: 2.5rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.mr-5 {
  margin-right: 2.5rem;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.ml-5 {
  margin-left: 2.5rem;
}

.mx-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.p-1 {
  padding: 0.5rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pl-1 {
  padding-left: 0.5rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pl-2 {
  padding-left: 1rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.pt-3 {
  padding-top: 1.5rem;
}

.pr-3 {
  padding-right: 1.5rem;
}

.pb-3 {
  padding-bottom: 1.5rem;
}

.pl-3 {
  padding-left: 1.5rem;
}

.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-4 {
  padding: 2rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pr-4 {
  padding-right: 2rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.pl-4 {
  padding-left: 2rem;
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-5 {
  padding: 2.5rem;
}

.pt-5 {
  padding-top: 2.5rem;
}

.pr-5 {
  padding-right: 2.5rem;
}

.pb-5 {
  padding-bottom: 2.5rem;
}

.pl-5 {
  padding-left: 2.5rem;
}

.px-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* shorthand classes related of display and flexbox */
.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-grow-2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.flex-grow-3 {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.flex-basis-100 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

/* shorthand border-radius classes */
.rounded-1 {
  border-radius: 0.25rem;
}

.rounded-2 {
  border-radius: 0.5rem;
}

.rounded-circle {
  border-radius: 50%;
}

/* ------- project styles starts here ------- */
body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  background-color: var(--footer-bg);
  color: var(--body-color);
}

/* --- header --- */
header {
  height: 56px;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: var(--bg-color);
}

header .header-menu {
  height: 100%;
  width: 100%;
  max-width: 1056px;
  margin: 0 auto;
  position: relative;
}

@media all and (min-width: 900px) {
  header .header-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header .header-menu .navbar-toggle-label {
  width: 56px;
  height: 56px;
  font-size: 17px;
  cursor: pointer;
  line-height: 56px;
  text-align: center;
}

@media all and (min-width: 900px) {
  header .header-menu .navbar-toggle-label {
    display: none;
  }
}

header .header-menu .header-actions {
  height: 70px;
  z-index: 20;
  background-color: var(--bg-color);
  font-size: 20px;
  -webkit-box-shadow: 0 8px 7px 1px rgba(224, 228, 233, 0.2);
          box-shadow: 0 8px 7px 1px rgba(224, 228, 233, 0.2);
  opacity: 0;
  -webkit-transform: scale(1, 0) translateY(-600%);
          transform: scale(1, 0) translateY(-600%);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media all and (min-width: 540px) {
  header .header-menu .header-actions {
    height: 56px;
    font-size: 1rem;
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    position: absolute;
    right: 0;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
}

header .header-menu .header-actions .header-link {
  height: 70px;
}

@media all and (min-width: 540px) {
  header .header-menu .header-actions .header-link {
    height: 56px;
  }
}

header .header-menu .header-actions .header-link:hover {
  color: #f67599;
}

header .header-menu .header-actions .header-link:active {
  background-color: #f9f9f9;
}

header .brand {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  z-index: 10;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

header .brand img {
  width: 24px;
  height: 24px;
}

header .brand .shop-name {
  color: var(--body-color);
  font-family: "Lato", "Noto Sans TC", sans-serif;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.75px;
}

nav {
  width: 100%;
  z-index: 10;
  font-weight: 500;
  background-color: var(--bg-color);
  -webkit-box-shadow: 0 8px 7px 1px rgba(224, 228, 233, 0.2);
          box-shadow: 0 8px 7px 1px rgba(224, 228, 233, 0.2);
  opacity: 0;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media all and (min-width: 900px) {
  nav {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    width: 50%;
    background-color: transparent;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
}

@media all and (min-width: 900px) {
  nav .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

nav .nav-item {
  width: 100vw;
  padding: 25px;
  text-align: center;
  position: relative;
}

@media all and (min-width: 900px) {
  nav .nav-item {
    margin-left: 0.5rem;
    width: auto;
    padding: 1rem 1rem 1rem 0;
  }
}

nav .nav-item .nav-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

nav .nav-item:hover {
  color: #f67599;
}

nav .nav-item:active {
  background-color: #f9f9f9;
}

nav .nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 14.5px;
  right: 14.5px;
  height: 2px;
  background-color: #f0f0f5;
}

@media all and (min-width: 900px) {
  nav .nav-item::after {
    all: unset;
  }
}

#navbar-toggle:checked ~ label {
  color: #f67599;
}

#navbar-toggle:checked ~ label ~ nav {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

#navbar-toggle:checked ~ label ~ nav ~ .header-actions {
  opacity: 1;
  -webkit-transform: scale(1, 1) translateY(0);
          transform: scale(1, 1) translateY(0);
}

/* --- Main Starts here --- */
main {
  min-height: 70vh;
  background-color: var(--bg-color);
  padding-top: 70px;
}

form {
  max-width: 1056px;
  margin: 0 auto;
  padding: 14px;
}

form .form-title {
  font-size: 32px;
  font-weight: 700;
}

form input,
form select {
  height: 40px;
  padding: 12px 1rem;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid var(--placeholder-color);
  background-color: var(--bg-color);
  color: var(--body-color);
}

form input::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

form input:-ms-input-placeholder {
  color: var(--placeholder-color);
}

form input::-ms-input-placeholder {
  color: var(--placeholder-color);
}

form input::placeholder {
  color: var(--placeholder-color);
}

form .select-wrapper {
  position: relative;
  z-index: 0;
}

form .select-wrapper::after {
  content: "";
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: -1;
  /* create drop-down triangle */
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: var(--body-color) transparent transparent transparent;
}

form select {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: var(--placeholder-color);
  cursor: pointer;
}

form select:valid {
  color: var(--body-color);
}

@media all and (min-width: 900px) {
  form {
    position: relative;
  }
}

/* --- Steps-wrapper --- */
.steps-wrapper {
  margin: 24px 0;
  position: relative;
}

.steps-wrapper .step {
  background-color: var(--bg-color);
  position: relative;
  z-index: 5;
  color: #afb1bd;
}

.steps-wrapper .step .step-circle {
  position: relative;
  margin: 0 22px;
  width: 2rem;
  height: 2rem;
  border: 1px solid #afb1bd;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media all and (min-width: 900px) {
  .steps-wrapper .step .step-circle {
    margin: 0 0 0 16px;
  }
}

.steps-wrapper .step .step-label {
  margin: 0 16px 0 12.5px;
}

@media all and (min-width: 900px) {
  .steps-wrapper .step .step-label {
    display: unset;
  }
}

.steps-wrapper .step.active {
  color: var(--body-color);
}

.steps-wrapper .step.active .step-circle {
  border-color: var(--body-color);
}

.steps-wrapper .step.checked {
  color: var(--body-color);
}

.steps-wrapper .step.checked .step-circle::after {
  content: "\2713";
  position: absolute;
  z-index: 6;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
  border: 1px solid var(--body-color);
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}

.steps-wrapper .step-bar {
  height: 2px;
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: 1;
  background-color: var(--border-light-color);
}

.steps-wrapper .progress-line {
  height: 2px;
  width: 0%;
  position: absolute;
  top: 50%;
  z-index: 2;
  background-color: var(--body-color);
}

@media all and (min-width: 900px) {
  .steps-wrapper {
    max-width: 50%;
  }
}

/* --- Form-group --- */
.form-group {
  margin-bottom: 24px;
}

.form-group .form-title {
  font-size: 24px;
}

.form-group .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
  gap: 30px;
  font-size: 12px;
  color: var(--form-description-color);
}

.form-group .form-unit {
  gap: 8px;
}

@media all and (min-width: 900px) {
  .form-group .form-unit.flex-grow-1-pc {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

@media all and (min-width: 900px) {
  .form-group .form-unit.flex-grow-2-pc {
    -webkit-box-flex: 2;
        -ms-flex: 2 0 auto;
            flex: 2 0 auto;
  }
}

.form-group .shipping-option {
  position: relative;
  border: 1px solid var(--border-light-color);
  border-radius: 4px;
  padding: 11px 20px;
  gap: 20px;
  cursor: pointer;
}

.form-group .shipping-option .radio-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--placeholder-color);
}

.form-group .shipping-option .shipping-subtitle {
  color: var(--body-color);
}

.form-group input[type="radio"]:checked ~ .shipping-option::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid var(--placeholder-color);
  border-radius: 4px;
}

.form-group input[type="radio"]:checked ~ .shipping-option .radio-circle {
  -webkit-box-shadow: inset 0 0 0 6px var(--body-color);
          box-shadow: inset 0 0 0 6px var(--body-color);
}

@media all and (min-width: 900px) {
  .form-group {
    max-width: 50%;
    min-height: 35vh;
  }
}

/* --- Shopping cart --- */
.shopping-cart {
  border: 1px solid var(--border-light-color);
  background-color: var(--shopping-cart-bg);
}

.shopping-cart .shopping-list {
  gap: 16px;
}

.shopping-cart .shopping-list img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.shopping-cart .shopping-list .qty-wrapper {
  font-size: 14px;
  font-weight: 500;
}

.shopping-cart .shopping-list .qty-wrapper .qty-controller {
  color: #333333;
  width: 26px;
  height: 26px;
  background-color: #f0f0f5;
  text-align: center;
  line-height: 26px;
  font-size: 19px;
  cursor: pointer;
}

.shopping-cart .shopping-list .qty-wrapper .qty-controller:hover {
  background-color: #f9f9f9;
}

.shopping-cart .shopping-list .qty-wrapper .qty-controller:active {
  background-color: #f0f0f5;
}

.shopping-cart .price-wrapper {
  font-weight: 700;
}

.shopping-cart .shipping-subtotal,
.shopping-cart .shopping-price {
  border-top: 1px solid #f0f0f5;
}

@media all and (min-width: 900px) {
  .shopping-cart {
    position: absolute;
    right: 16px;
    left: calc($max-width / 12 * 7);
    top: 90px;
  }
}

/* --- Buttons --- */
.btn-groups {
  margin: 1rem 0;
  padding: 24px 0;
  font-size: 16px;
  gap: 30px;
  border-top: 1px solid var(--border-light-color);
  /* special settings for btn-previous */
}

.btn-groups .btn {
  height: 40px;
  background-color: #f67599;
  color: #ffffff;
}

.btn-groups .btn .arrow {
  font-size: 20px;
}

.btn-groups .btn:hover {
  opacity: 0.9;
  font-weight: 600;
}

.btn-groups .btn:active {
  opacity: 1;
}

.btn-groups .btn-previous.btn {
  background-color: var(--bg-color);
  color: var(--body-color);
}

.btn-groups .btn-previous.btn:hover {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn-groups .btn-previous.btn:active {
  color: #f67599;
}

@media all and (min-width: 900px) {
  .btn-groups {
    max-width: 50%;
  }
}

/* --- Footer --- */
footer {
  display: none;
  background-color: var(--footer-bg);
  padding: 64px 0 80px;
  color: var(--footer-color);
}

footer .footer-container {
  max-width: 1056px;
  margin: 0 auto;
}

footer .footer-brand .brand img {
  width: 24px;
  height: 24px;
}

footer .footer-brand .brand .shop-name {
  font-family: "Lato", "Noto Sans TC", sans-serif;
  color: var(--footer-color-title);
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.75px;
}

footer .footer-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--footer-color-title);
}

footer .footer-list {
  margin-top: 24px;
  line-height: 150%;
}

footer .footer-link:hover {
  color: var(--footer-color-title);
}

@media all and (min-width: 900px) {
  footer {
    display: block;
  }
}
/*# sourceMappingURL=reference2.css.map */