html {
  --white: #fff;
  --black: #000;
  --pink: #f67599;
  --gray-900: #000000;
  --gray-800: #2a2a2a;
  --gray-700: #808080;
  --gray-600: #999999;
  --gray-500: #afb1bd;
  --gray-400: #e6e6eb;
  --gray-300: #f0f0f5;
  --gray-200: #f6f7f8;
  --logo: var(--gray-700);
  --text: var(--gray-800);
  --theme: var(--pink);
  --theme-text: var(--black);
  --theme-bg: #fff;
  --theme-cart-bg: #fff;
  --theme-cart-border: rgba(255, 255, 255, 20%);
}

html[data-theme="dark"] {
  --white: #000;
  --black: #fff;
  --pink: #f67599;
  --gray-900: #000000;
  --gray-800: #2a2a2a;
  --gray-700: #e6e6eb;
  --gray-600: #999999;
  --gray-500: #afb1bd;
  --gray-400: #e6e6eb;
  --gray-300: #f0f0f5;
  --gray-200: #333;
  --logo: var(--black);
  --icon: var(--gray-200);
  --text: var(--gray-300);
  --theme-bg: #383838;
  --theme-cart-bg: #383838;
  --theme-cart-border: rgba(255, 255, 255, 20%);
}
