@charset "UTF-8";
/* ------- reset CSS ------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

ul,
ol,
li {
  list-style: none;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
  outline: none;
  cursor: pointer;
}

button,
button:hover,
button:active,
button:focus {
  border: 0;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input:required,
input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: none;
}

/* ------- container CSS ------- */
.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ------ scss setting ----- */
/* ------- color setting ------- */
:root {
  --bg-color: #ffffff;
  --body-color: #2a2a2a;
  --form-description-color: #808080;
  --placeholder-color: #999999;
  --shopping-cart-bg: #ffffff;
  --border-light-color: #f0f0f5;
  --footer-bg: #f6f7f8;
  --footer-color: #808080;
  --footer-color-title: #2a2a2a;
}

[dark-theme="dark"] {
  --bg-color: #121212;
  --body-color: #ffffff;
  --form-description-color: #f0f0f5;
  --placeholder-color: #afb1bd;
  --shopping-cart-bg: #333333;
  --border-light-color: #444444;
  --footer-bg: #333333;
  --footer-color: #f0f0f5;
  --footer-color-title: #ffffff;
}

/* ------- project setting ------- */
body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  background-color: var(--footer-bg);
  color: var(--body-color);
}

main {
  min-height: 70vh;
  background-color: var(--bg-color);
}

form {
  max-width: 1056px;
  margin: 0 auto;
  padding: 14px;
}

input,
select {
  height: 40px;
  padding: 12px 1rem;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid var(--placeholder-color);
  background-color: var(--bg-color);
  color: var(--body-color);
}

input::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

input:-ms-input-placeholder {
  color: var(--placeholder-color);
}

input::-ms-input-placeholder {
  color: var(--placeholder-color);
}

input::placeholder {
  color: var(--placeholder-color);
}

.select-wrapper {
  position: relative;
  height: 40px;
  z-index: 0;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  margin: 0 -10px;
  right: 16px;
  bottom: 16px;
  z-index: -1;
  /* create drop-down triangle */
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: var(--body-color) transparent transparent transparent;
}

select {
  /*拿掉預設樣式*/
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: var(--placeholder-color);
  cursor: pointer;
}

select:valid {
  color: var(--body-color);
}

/* ------ header setting ----- */
@media screen and (min-width: 375px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    width: 100%;
    height: 60px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(40, 40, 40, 0.1);
            box-shadow: 0px 2px 10px 0px rgba(40, 40, 40, 0.1);
  }
  .brand {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 16px;
    width: 136px;
    height: 48px;
  }
}

/* ------ nav-toggle setting ----- */
nav {
  position: absolute;
  top: 100%;
  /*置於父元素下方*/
  width: 100%;
  background-color: white;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.navbar-toggle {
  position: absolute;
  visibility: hidden;
}

.navbar-toggle:checked ~ .nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.navbar-toggle-label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 7.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-toggle:checked ~ .nav .nav-item {
  /*只有開啟時 delay .15s */
  -webkit-transition: opacity 0.2s ease-out 0.15s;
  transition: opacity 0.2s ease-out 0.15s;
  /*開啟時透明度為1*/
  opacity: 1;
}

.nav-item {
  margin: 1.4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 14.5px;
  right: 14.5px;
  height: 2px;
  background-color: #f0f0f5;
}

/* ------ stepper setting ----- */
.title {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 7.5%;
  font-size: 24px;
}

.stepper-container {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.step {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.step:nth-child(1) .circle-container::after {
  content: "1";
}

.step:nth-child(2) .circle-container::after {
  content: "2";
}

.step:nth-child(3) .circle-container::after {
  content: "3";
}

.step-active .circle-container {
  background-color: pink;
  color: white;
}

.step .circle-container {
  background-color: pink;
  color: white;
}

/*偽類切換打勾元素*/
.checked .circle-container::after {
  content: "\2714";
}

.circle-container {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin: 0 auto;
}

.label-container {
  margin-top: 10px;
  color: gray;
}

.connect-line {
  position: absolute;
  top: 12px;
  left: calc(-50% + 20px);
  right: calc(50% + 20px);
  width: 70%;
  display: block;
  height: 1px;
  background-color: lightgray;
}

/* ------ form setting ----- */
.form-panel {
  width: 100%;
  height: 100%;
  margin-top: 12px;
  margin-bottom: 24px;
}

.form-title {
  font-size: 24px;
}

.form-container {
  height: 100%;
  margin: 0 auto;
  padding: 0 7.5%;
  margin-bottom: px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-row {
  margin-top: 12px;
  font-size: 16px;
  color: var(--form-description-color);
  /*轉換label inline元素*/
}

.form-row > label {
  display: block;
}

.form-row-item {
  gap: 12px;
}

/* ------ chart setting ----- */
.container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  /*form container水平置中效果*/
  margin: 0 auto;
  padding: 2.4rem 0.2rem;
  border: 1px solid gray;
  /*暫時加上邊框，以利於辨識位置*/
  border-radius: 5px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.product-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.delivery-wrapper,
.total-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
  padding: 5px;
}

.bt-control-panel {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  font-size: 16px;
  background-color: transparent;
  height: 32px;
  padding: 0 16px;
  border-radius: 5px;
}

.btn-previous {
  opacity: 0.5;
}

.btn-next {
  color: white;
  background-color: pink;
}

/* ------ footer setting ----- */
.footer-container {
  display: none;
}
/*# sourceMappingURL=style.css.map */